<div class="row">
  <div class="col-md-12">
    <h5 class="card-title">{{titleTrang}}</h5>
  </div>
</div>

<script>
  function themTinTuc() {
    location.href = "tin-tuc/add";
  }
</script>
<div class="position-relative form-group"><label for="exampleEmail" class="">Email</label>
  <input name="urlTruyen" placeholder="with a placeholder" type="text" class="form-control url-truyen">
  <button class="mb-2 mr-2 btn btn-success get-truyen">Success
  </button>
  <div class="loadingGif" style="width: 60px;margin: 0 auto; display: none;">
    <img src="/image/loading.gif" alt="loading next page" style="width: 100%">
  </div>
    <input type="hidden" name="truyenId">
    <div class="position-relative row form-group"><label for="tenTruyen" class="col-sm-2 col-form-label">Tên
        Truyện</label>
      <div class="col-sm-10"><input name="tenTruyen" id="ten-truyen" placeholder="Tên Truyện" type="text"
          class="form-control"></div>
    </div>
    <div class="position-relative row form-group"><label for="tacGia" class="col-sm-2 col-form-label">Tác Giả</label>
      <div class="col-sm-10"><input name="tacGia" id="tac-gia" placeholder="Tác Giả" type="text" class="form-control" />
      </div>
    </div>
    <div class="position-relative row form-group"><label for="theLoai" class="col-sm-2 col-form-label">Thể Loại</label>
      <div class="col-sm-10"><textarea name="theLoai" id="the-loai" placeholder="Thể Loại" type="text"
          class="form-control"></textarea></div>
    </div>
    <div class="position-relative row form-group"><label for="noiDung" class="col-sm-2 col-form-label">Nội Dung</label>
      <div class="col-sm-10"><textarea name="noiDung" id="noi-dung" placeholder="Nội Dung" type="text"
          class="form-control"></textarea></div>
    </div>
     <div class="position-relative row form-group"><label for="hinhTruyen" class="col-sm-2 col-form-label">Hình Truyện</label>
      <div class="col-sm-10"><input name="hinhTruyen" id="hinh-truyen" placeholder="Hình Truyện" type="text" class="form-control" />
      </div>
    </div>
    <div class="position-relative row">
      <div class="col-sm-6">
        <button class="btn btn-primary" id="btn-them-truyen">Thêm Truyện</button>
      </div>
       <div class="col-sm-6">
        <button class="btn btn-primary" id="btn-them-chap">Thêm Chap</button>
       </div>
    </div>
    <div class="position-relative row form-check">
    </div>
</div>
<table class="mb-0 table" id="tbl-chapter-comic">
  <thead>
    <tr>
      <th>danh sách chương</th>
      <th>lấy chương truyện</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="res-json"></div>
<script>
  $(".get-truyen").click(function () {
    $('.loadingGif').show();
    var urlTruyen = $(".url-truyen").val();
    $.ajax({
      type: 'post',
      data: {
        url: urlTruyen
      },
      dataType: 'json',
      url: '/admin/leech/',
      success: function (response) {
        var truyenObj = JSON.parse(response);
        $("#ten-truyen").val(truyenObj.ten_truyen);
        $("#tac-gia").val(truyenObj.tac_gia.replace("Tác giả", "").trim());
        var lstTheLoai = truyenObj.the_loai.replace("Thể loại", "").trim().split("-");
        $("#the-loai").val(lstTheLoai);
        $("#noi-dung").val(truyenObj.noi_dung);
         $("#hinh-truyen").val(truyenObj.hinh_truyen);
        for (var i = 0; i < truyenObj.danh_sach_chap.length; i++) {
          var addChapterButton = $("<button>").addClass("btn-info");
          addChapterButton.text("GET CHAPTER");
          addChapterButton.attr('data-link', truyenObj.danh_sach_chap[truyenObj.danh_sach_chap.length - i - 1]);
          var row = $("<tr>");
          row.append($("<td>").text(truyenObj.danh_sach_chap[truyenObj.danh_sach_chap.length - i - 1]));
          row.append($("<td>").html(addChapterButton));
          $("#tbl-chapter-comic").append(row);
        }
      }
    });
    $('.loadingGif').hide();
  })
  $("#btn-them-truyen").click(function () {
    var urlTruyen = $(".url-truyen").val();
    $.ajax({
      type: 'post',
      data: {
        tenTruyen:  $("#ten-truyen").val(),
        tacGia: $("#tac-gia").val(),
        theLoai: $("#the-loai").val(),
        noiDung: $("#noi-dung").val(),
        hinhTruyen: $("#hinh-truyen").val()
      },
      dataType: 'json',
      url: '/admin/leech/them-truyen',
      success: function (response) {
        alert("ok");
      }
    })
  })
</script>