<div class="row">
  <div class="col-md-12">
    <h5 class="card-title">{{titleTrang}}</h5>
  </div>
</div>

<script>
  function themTinTuc() {
    location.href = "tin-tuc/add";
  }
</script>
<div class="position-relative form-group"><label for="exampleEmail" class="">Email</label>
  <input name="urlTruyen" placeholder="with a placeholder" type="text" class="form-control url-truyen">
  <button class="mb-2 mr-2 btn btn-success get-truyen">Success
  </button>
  <div class="loadingGif" style="width: 60px;margin: 0 auto; display: none;">
    <img src="/image/loading.gif" alt="loading next page" style="width: 100%">
  </div>
</div>
<table class="mb-0 table" id="tbl-chapter-comic">
  <thead>
    <tr>
      <th>danh sách chương</th>
      <th>lấy chương truyện</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="res-json"></div>
<script>
  $(".get-truyen").click(function () {
    $('.loadingGif').show();
    var urlTruyen = $(".url-truyen").val();
    $.ajax({
      type: 'post',
      data: {
        url: urlTruyen
      },
      dataType: 'json',
      url: '/admin/leech/truyen',
      success: function (response) {
        var truyenObj = JSON.parse(response);
        for (var i = 0; i < truyenObj.danh_sach_chap.length; i++) {
          var addChapterButton = $("<button>").addClass("btn-info");
          addChapterButton.text("GET CHAPTER");
          addChapterButton.attr('data-link', truyenObj.danh_sach_chap[truyenObj.danh_sach_chap.length - i - 1]);
          var row = $("<tr>");
          row.append($("<td>").text(truyenObj.danh_sach_chap[truyenObj.danh_sach_chap.length - i - 1]));
          row.append($("<td>").html(addChapterButton));
          $("#tbl-chapter-comic").append(row);
        }
      }
    });
     $('.loadingGif').hide();
  })
</script>