<div class="row">
    <div class="col-md-12">
        <h5 class="card-title">QUẢN LÝ TIN TỨC</h5>
    </div>
</div>

<script>
    function themTinTuc() {
        location.href = "tin-tuc/add";
    }
</script>
<div class="position-relative form-group"><label for="exampleEmail" class="">Email</label><input name="email" id="exampleEmail" placeholder="with a placeholder" type="email" class="form-control"></div>
