<footer>
  <div class="padding">
    <div class="row text-center">

    </div>
    <!-- Back to top button -->
<a id="back-home-button">
  <i class="fas fa-arrow-up"></i>
</a>
</footer>
<script>
  var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy-hinh"
  });
  
</script>
<script src="/js/master.js"></script>
<script src="/js/home-detail.js"></script>

