
                    <div class="list list-truyen list-cat col-xs-12">
                        <div class="title-list">
                            <h4>Thể loại truyện</h4>
                        </div>
                            <div class="row">
                                                <div class="col-md-6"><a href="/tim-truyen/tat-ca" title="Action">Tất cả</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/anime" title="Action">Anime</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/action" title="Action">Action</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/chuyen-sinh" title="Action">Chuyển Sinh</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/comic" title="Action">Comic</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/comedy" title="Action">Comedy</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/cooking" title="Action">Cooking</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/adult" title="Action">Adult</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/drama" title="Action">Drama</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/doujinshi" title="Action">Doujinshi</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/ecchi" title="Action">Ecchi</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/dam-my" title="Action">Đam Mỹ</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/fantasy" title="Action">Fantasy</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/harem" title="Action">Harem</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/gender-bender" title="Action">Gender</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/horror" title="Action">Horror</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/josei" title="Action">Josei</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/live-action" title="Action">Live action</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/historical" title="Action">Historical</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/manga" title="Action">Manga</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/manhua" title="Action">Manhua</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/manhwa" title="Action">Manhwa</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/martial-arts" title="Action">Martial Arts</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/mature" title="Action">Mature</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/co-dai" title="Action">Cổ Đại</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/ngon-tinh" title="Action">Ngôn Tình</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/mecha" title="Action">Mecha</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/one-shot" title="Action">One shot</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/romance" title="Action">Romance</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/psychological" title="Action">Psychological</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/school-life" title="Action">School Life</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/sci-fi" title="Action">Sci-fi</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/shoujo" title="Action">Shoujo</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/mystery" title="Action">Mystery</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/shoujo-ai" title="Action">Shoujo Ai</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/shounen" title="Action">Shounen</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/shounen-ai" title="Action">Shounen Ai</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/smut" title="Action">Smut</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/slice-of-life" title="Action">Slice of Life</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/soft-yaoi" title="Action">Soft Yaoi</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/sports" title="Action">Sports</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/seinen" title="Action">Seinen</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/thieu-nhi" title="Action">Thiếu Nhi</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/supernatural" title="Action">Supernatural</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/tragedy" title="Action">Tragedy</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/trinh-tham" title="Action">Trinh Thám</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/truyen-scan" title="Action">Truyện scan</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/soft-yuri" title="Action">Soft Yuri</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/webtoon" title="Action">webtoon</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/xuyen-khong" title="Action">Xuyên Không</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/truyen-mau" title="Action">Truyện Màu</a></div>
                                                <div class="col-md-6"><a href="/tim-truyen/adventure" title="Action">Adventure</a></div>
                        </div>
                    </div>