<footer>
  <div class="padding">
    <div class="row text-center">

    </div>
    <!-- Back to top button -->
<a id="back-home-button">
  <i class="fas fa-arrow-up"></i>
</a>
</footer>
<script>

  var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy-hinh"
  });
</script>
<script src="/js/history.js"></script>
<script src="/js/chapter.js"></script>
<script src="/js/searchautocomplete.js"></script>
<script src="/js/gettimeago.js"></script>
<script src="/js/truyendaxem.js"></script>
<script src="/js/themtruyentrangchu.js"></script>
<script src="/js/tooltip.js"></script>
<script src="/js/loadmenu.js"></script>
<script src="/js/loadtheloai.js"></script>
<script src="/js/loadfooter.js"></script>
<script src="/js/backtohome.js"></script>
<script src="/js/detail.js"></script>

