<footer>
  <div class="padding">
    <div class="row text-center">
      <div class="col-md-4">
        <h5>Về order đi</h5>
        <hr class="light">
        <p>111-222-3333</p>
        <p>mymail@gmail.com</p>
        <p>hiep thanh street quan 12</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Working hours</h5>
        <hr class="light">
        <p>Monday-Friday: 8am - 5pm</p>
        <p>Weekend: 8am - 12am</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Services</h5>
        <hr class="light">
        <p>Outsourcing</p>
        <p>Website development</p>
        <p>Mobile applications</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; Webpro</h5>
      </div>
    </div>
</footer>
<script>
  function showMore() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");

    if (dots.style.display == "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "XEM THÊM";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "ẨN ĐI";
      moreText.style.display = "inline";
    }
  }

  var nodes = document.querySelectorAll('.needs_to_be_rendered');

  // use render method to render nodes in real time
  timeago.render(nodes, 'vi');

  // cancel all real-time render task
  timeago.cancel();

  var numberNodes = document.querySelectorAll('.needs_to_format');


  // Format nodes number wit dots
  for (i = 0; i < numberNodes.length; i++) {
    numberNodes[i].innerHTML = numberNodes[i].innerHTML.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  }

  if ($("body").hasClass("view-chapter") && "undefined" != typeof Storage) {
    var c = $(".chapter-id").data("id");
    if (c) {
      if (void 0 !== localStorage["visited-chapters"]) {
        if (-1 == (H = JSON.parse(localStorage["visited-chapters"])).indexOf(c)) {
          if (H.push(c), H.length > 2e3)
            for (var b = 0; b < 1500; b++) H.shift();
          localStorage["visited-chapters"] = JSON.stringify(H)
        }
      }
      else {
        (O = []).push(c), localStorage["visited-chapters"] = JSON.stringify(O);
      }
      var x = $(".breadcrumb li").eq(2).find("a"),
        A = $(".breadcrumb li").eq(3).find("a"),
        k = $('meta[itemprop="image"]').attr("content");
      if (x && A && k) {
        var S = $("#hidden-id-truyen").val();
        j = {
          id: S,
          image: k,
          name: x.find("span").html(),
          url: x.attr("href"),
          chapterName: A.find("span").html(),
          chapterUrl: A.attr("href")
        };
        if (void 0 !== localStorage["visited-comics"]) {
          var H, T = (H = JSON.parse(localStorage["visited-comics"])).map(function (e) {
            return e.id
          }).indexOf(S);
          if (T > -1 && H.splice(T, 1), H.push(j), H.length > 72)
            for (b = 72; b < H.length; b++) H.shift();
          localStorage["visited-comics"] = JSON.stringify(H)
        } else {
          (O = []).push(j), localStorage["visited-comics"] = JSON.stringify(O)
        }
      }
    }
  }
  if ($(".visited-comics-page").length && "undefined" != typeof Storage)
    if (void 0 !== localStorage["visited-comics"])
      if ((H = JSON.parse(localStorage["visited-comics"])).length > 0) {
        var L = $("<div>").addClass("row");
        for (b = H.length - 1; b >= 0; b--) {
          var XA = $("<div>").addClass("col-md-3 col-truyen"),
            I = H[b],
            O = $("<div>").addClass("item"),
            R = $("<figure>").addClass("clearfix"),
            W = $("<div>").addClass("image"),
            U = $("<a>").attr("title", I.name).attr("href", I.url),
            B = $("<img>").addClass("lazy").attr("alt", I.name).attr("data-original", I.image).attr("src", I.image),
            G = $("<div>").addClass("view");
          $("<a>").addClass("visited-remove").attr("href", "#").data("id", I.id).html('<i class="fa fa-times"></i> Xóa').click(function (e) {
            return e.preventDefault(), V($(this)), !1
          }).appendTo(G);
          U.append(B), W.append(U).append(G);
          var M = $("<figcaption>"),
            _ = $("<h3>"),
            P = $("<ul>"),
            E = $("<li>").addClass("chapter clearfix"),
            D = $("<a>").html('Đọc tiếp <i class="fa fa-angle-double-right"></i>').attr("href", I.chapterUrl),
            N = $("<i>").text(I.chapterName).addClass("time"),
            z = $("<a>").html(I.name).attr("title", I.name).attr("href", I.url);
          _.append(z), E.append(D).append(N), P.append(E), M.append(_).append(P), R.append(W).append(M), O.append(R), L.append(XA), XA.append(O)
        }
        $(".visited-comics-page").empty().append(L)
      } else $(".visited-comics-page").html("Bạn chưa đọc truyện nào.");
    else $(".visited-comics-page").html("Bạn chưa đọc truyện nào.");
  if ($(".visited-comics").length && ("undefined" != typeof Storage && void 0 !== localStorage["visited-comics"] && (H = JSON.parse(localStorage["visited-comics"])).length > 0)) {
    var titleHistory = "<div class='title-history'>" + "<h4>Lịch sử đọc truyện<a class='view-all' href='/lich-su'>tất cả></a></h4></div>";
    L = $("<div>").addClass("box darkBox"), P = $("<ul>").addClass("list-unstyled");
    var J = 0;
    for (b = H.length - 1; b >= 0; b--) {
      I = H[b], E = $("<li>").addClass("clearfix");
      var F = $("<div>").addClass("t-item");
      E.append(F);
      U = $("<a>").addClass("thumb").attr("title", I.name).attr("href", I.chapterUrl), B = $("<img>").addClass("lazy").attr("alt", I.name).attr("data-original", I.image).attr("src", I.image);
      U.append(B), F.append(U);
      _ = $("<h3>").addClass("t-title"), z = $("<a>").html(I.name).attr("href", I.chapterUrl);
      _.append(z), F.append(_);
      var q = $("<p>").addClass("chapter"),
        K = $("<a>").html("Đọc tiếp " + I.chapterName + ' <i class="fa fa-angle-double-right"></i>').attr("href", I.chapterUrl),
        X = $("<span>").addClass("view pull-right");
      $("<a>").addClass("visited-remove").attr("href", "#").data("id", I.id).html('<i class="fa fa-times"></i> Xóa').click(function (e) {
        return e.preventDefault(), V($(this)), !1
      }).appendTo(X);
      if (q.append(K).append(X), F.append(q), P.append(E), ++J > 2) break
    }
    L.append(P);
    $(".visited-comics").empty();
    $(".visited-comics").append(titleHistory);
    $(".visited-comics").append(L);

  }
  function V(e) {
    if ("undefined" != typeof Storage && void 0 !== localStorage["visited-comics"]) {
      var t = JSON.parse(localStorage["visited-comics"]),
        a = $(e).data("id");
      if (t.length > 0) {
        var r = t.map(function (e) {
          return e.id
        }).indexOf(a);
        r > -1 && (t.splice(r, 1), localStorage["visited-comics"] = JSON.stringify(t), $(e).parents(".item").remove(), $(e).parents("li").remove())
      }
    }
  }

  $('.xem-them').click(function () {
    $('.loadingGif').show();

    var skip = $('.item-truyen').length;

    $.ajax({
      type: 'post',
      data: {
        skip: skip
      },
      dataType: 'json',
      url: '/load-them-truyen',
      success: function (response) {
        if (response.status == 1) {
          alert(response.listTruyen[0]._id);
          var listTruyen = response.listTruyen;

          var errorJs = "javascript:this.src='/themes/home/images/404-avatar.png';";

          var html = '';
          var truyen;
          var baChapMoi;

          for (var i = 0; i < listTruyen.length; i++) {
            truyen = listTruyen[i];
            baChapMoi = listTruyen[i]['chap_moi_ra'];
            var A = $("<div>").addClass("col-md-3 col-truyen");
            var B = $("<div>").addClass("item-truyen");
            var C = $("<figure>").addClass("clearfix");
            var D = $("<div>").addClass("image");
              var E = $("<a>").addClass("preview");
              E.attr("title", truyen.ten_truyen);
              E.attr("href", "/truyen-tranh/" + truyen.slug_truyen);
              var F = $("<img>").addClass("lazy");
              F.attr("src", truyen.hinh_truyen);
              F.data("original", truyen.hinh_truyen);
              F.attr("style", "display: inline ;");
              var G = $("<div>").addClass("view clearfix");
              var H = $("<span>").addClass("pull-left");
              var I1 = $("<i>").addClass("fa fa-eye");
              var I2 = $("<i>").addClass("fa fa-comment");
              var I3 = $("<i>").addClass("fa fa-heart");
              var J1 = $("<span>").addClass("needs_to_format");
              J1.text(listTruyen[i].luot_xem);
              var J2 = $("<span>").addClass("needs_to_format");
              J2.text(listTruyen[i].luot_danh_gia);
              var J3 = $("<span>").addClass("needs_to_format");
              J3.text(listTruyen[i].luot_theo_doi);
            //Figcaption
            var DF = $("<figcaption>");
            var DFH3 = $("<H3>");
            var DFH3 = $("<a>").addClass("jtip");
            var DFUL = $("<ul>");

            for (var j = 0; j < baChapMoi.length; j++) {
              var DFULLI = $("<li>").addClass("chapter clearfix");
              var DFULLIA = $("<a>").addClass("sts");
              DFULLIA.attr("title","Chapter " + baChapMoi[i].ten_chuong);
              DFULLIA.attr("href", "/truyen-tranh/" + truyen.ten_truyen);
              DFULLIA.text("Chapter " + baChapMoi[i].ten_chuong);
              var DFULLII = $("<i>").addClass("time needs_to_be_rendered");
              DFULLII.attr("datetime", baChapMoi[i].thoi_gian_tao);
              timeago.render(DFULLII,'vi');
              DFULLI.append(DFULLIA);
              DFULLI.append(DFULLII);

              DFUL.append(DFULLI)
            }

            H.append(I1);
            H.append(J1);
            H.append(I2);
            H.append(J2);
            H.append(I3);
            H.append(J3);
            G.append(H);
            E.append(F);
            E.append(G);
            D.append(E);
            C.append(D);
            DF.append(DFH3);
            DF.append(DFUL);
            C.append(DF);
            B.append(C);
            A.append(B);
            $(".truyen-item-home").append(A);
          }
        }

        $('.loadingGif').hide();
      }
    });
  });

  var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy-hinh"
  });
</script>