<footer>
  <div class="padding">
    <div class="row text-center">
      <div class="col-md-4">
        <h5>Về order đi</h5>
        <hr class="light">
        <p>111-222-3333</p>
        <p>mymail@gmail.com</p>
        <p>hiep thanh street quan 12</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Working hours</h5>
        <hr class="light">
        <p>Monday-Friday: 8am - 5pm</p>
        <p>Weekend: 8am - 12am</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Services</h5>
        <hr class="light">
        <p>Outsourcing</p>
        <p>Website development</p>
        <p>Mobile applications</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; Webpro</h5>
      </div>
    </div>
</footer>
<script>
  var proxy1="";
  var proxy2 = 'https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&resize_h=0&rewriteMime=image%2F*&url=';
  var proxy3 = 'https://images.weserv.nl/?url=';

  var loadChapter = document.querySelectorAll('a.loadchapter');
  loadChapter.forEach(function myFunction(item, index) {
    item.classList.add("hidden");
    item.classList.remove("btn-success");
  });

  var imageNodes = document.querySelectorAll('.img-truyen');
  var serverTemp = document.getElementById("server-temp").innerText;
  var lstServerTemp = serverTemp.split(",");
  for(var svt in lstServerTemp){
    imageNodes[svt].setAttribute("data-cdn", lstServerTemp[svt]);
  }
  document.getElementById("server-temp").innerText = "";
  var nodes = document.querySelectorAll('.needs_to_be_rendered');

  // use render method to render nodes in real time
  timeago.render(nodes, 'vi');

  // cancel all real-time render task
  timeago.cancel();

  // or cancel for the specific one
  timeago.cancel(nodes[0])

  var numberNodes = document.querySelectorAll('.needs_to_format');

  // Format nodes number wit dots
  for (i = 0; i < numberNodes.length; i++) {
    numberNodes[i].innerHTML = numberNodes[i].innerHTML.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  }

  //changeServer(6);

  function changeServer(server) {
    if (server == "1" || server == "4") {
      getTruyenFromServer(proxy1,server);
    }
    else if(server == "2" || server == "5")
    {
      getTruyenFromServer(proxy2,server);
    }else if(server == "3" || server == "6"){
      getTruyenFromServer(proxy3,server);
    }
  }

  function getTruyenFromServer(proxy, server) {

    // Get all image tag
    var imageNodes = document.querySelectorAll('.img-truyen');
    var sv = parseInt(server)
    if(sv < 4)
    {
      // add image
      for (i = 0; i < imageNodes.length; i++) {
        var urlImage = imageNodes[i].getAttribute("data-src");
        var imgNode = document.getElementById("image-truyen-" + i);
        imgNode.src = proxy+urlImage;
      }
    }else{
       // add image
      for (i = 0; i < imageNodes.length; i++) {
        var urlImage = imageNodes[i].getAttribute("data-cdn");
        var imgNode = document.getElementById("image-truyen-" + i);
        imgNode.src = proxy+urlImage;
      }
    }
    testImageServer(server);
  }

  function testImageServer(server){

     // Get all image tag
    var imageNodes = document.querySelectorAll('.img-truyen');
     // test image
    for (i = 0; i < imageNodes.length; i++) {
      if (!ImageExists("#image-truyen-" + i)) {
        var sv = parseInt(server);
        if(sv < 6)
        {
          sv = sv + 1;
          
        }else{
          sv = 1;
        }
        changeServer(sv);
      }
    }
  }


  function showMore() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");

    if (dots.style.display == "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "XEM THÊM";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "ẨN ĐI";
      moreText.style.display = "inline";
    }
  }

  function ImageExists(selector) {
    var imageFound = $(selector);

    if (!imageFound.get(0).complete) {
      return false;
    }
    else if (imageFound.height() === 0) {
      return false;
    }

    return true;
  }
  //document.querySelector("a.loadchapter[data-server='1']");
  document.querySelector("a.changeserver").addEventListener("click", function(){
     
  });

  document.getElementById('content-image-truyen').addEventListener("error", function(){
     
  });


var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy-hinh",
    container: document.getElementById('content-image-truyen')
});
</script>