@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* declare for css */

html,
body {
    height: 100%;
    font-size: 16px;
    color: #333;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.section-de-cu {
    background-color: #fff;
}

.section-detail-truyen {
    background-color: #fff;
}

.index-section {
    padding: 30px 0px 30px 0px;
}

.dark {
    background-color: #ff530d;
}


/* end declare */


/* usemanytime */

.container {
    max-width: 1270px;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.d-flex {
    display: flex !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mt-10 {
    margin-top: 10px;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 5px;
}

.pl-15 {
    padding-left: 15px;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}


/* endusemanytime */


/* nav */


/* topnav */

.top-menu {
    background-color: #333;
    font-size: 90%;
    text-align: center;
}

.top-menu .fa-envelope,
.contact-mail {
    color: #fff;
}


/* mainnav */

.dropdown-menu {
    min-width: 200px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
    border: 1px solid #d9d9d9;
    -moz-box-shadow: 0 3px 8px rgba(3, 3, 3, 0.26);
    -webkit-box-shadow: 0 3px 8px rgba(3, 3, 3, 0.26);
    box-shadow: 0 3px 8px rgba(3, 3, 3, 0.26);
    border-radius: 0px;
    border: 2px solid #ff530d;
}

.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.multi-column-dropdown li a {
    color: #000;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #ff530d;
}


/* endmainnav */


/* breadcrumbcontainer */

.breadcrumb-container {
    height: 30px;
    line-height: 30px;
    color: #4E4E4E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-breadcrumb {
    background: #ECECEC;
    border-top: 1px solid #476171;
    box-shadow: 1px 2px 1px #ccc;
}


/* endbreadcrumbcontainer */

.title_home_text {
    font-family: "Anton", sans-serif;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}


/*Media query*/

@media(max-width: 992px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 160%;
    }
    .carousel-caption btn {
        font-size: 160%;
    }
}

@media(max-width: 768px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 220%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
}

@media(max-width: 576px) {
    .carousel-caption {
        top: 10%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
}

@media (min-width: 1200px) {
    html,
    body {
        background-color: #f4f4f4;
    }
    .main-container {
        margin-right: auto;
        margin-left: auto;
    }
    /*slider*/
    #big .item {
        color: #FFF;
        text-align: center;
        height: 220px;
    }
    .owl-theme .owl-nav [class*='owl-'] {
        transition: all .3s ease;
    }
    .owl-theme .owl-nav [class*='owl-'].disabled:hover {
        background-color: #D6D6D6;
    }
    #big.owl-theme {
        position: relative;
    }
    #big.owl-theme .owl-next,
    #big.owl-theme .owl-prev,
    #slide-product.owl-theme .owl-next,
    #slide-product.owl-theme .owl-prev,
    #truyen-de-cu.owl-theme .owl-next,
    #truyen-de-cu.owl-theme .owl-prev {
        background: rgba(255, 255, 255, 0.5);
        width: 30px;
        line-height: 40px;
        height: 40px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
        top: 40%;
    }
    #big.owl-theme .owl-next,
    #big.owl-theme .owl-prev {
        background: rgb(0, 0, 0, 0.5);
        width: 40px;
        line-height: 50px;
        height: 50px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
        top: 40%;
    }
    #big.owl-theme .fa-arrow-left:before {
        content: "\f104";
        color: #fff;
        font-size: 20px;
    }
    #big.owl-theme .fa-arrow-right:before {
        content: "\f105";
        color: #fff;
        font-size: 20px;
    }
    .fa-arrow-left:before {
        content: "\f104";
        color: #000;
        font-size: 20px;
    }
    .fa-arrow-right:before {
        content: "\f105";
        color: #000;
        font-size: 20px;
    }
    #slide-product .owl-prev,
    #big.owl-theme .owl-prev,
    #truyen-de-cu .owl-prev {
        left: -5px;
    }
    #slide-product .owl-next,
    #big.owl-theme .owl-next,
    #truyen-de-cu .owl-next {
        right: -5px;
    }
    #thumbs.owl-theme .owl-next,
    #thumbs.owl-theme .owl-prev {
        background: #333;
    }
    .indicator-thumbnail {
        border: 1px solid #ddd;
        background-color: #fff;
        margin: 0 0 0px !important;
        padding: 0 0 0 0px !important;
    }
    .indicator-thumbnail li {
        width: 100%;
        height: 58px;
        display: block;
        border-radius: 0;
        border: none;
        margin-top: 0;
        text-indent: initial;
        text-align: left;
        margin-bottom: 0;
    }
    .indicator-thumbnail li a {
        color: #000;
        text-decoration: none;
        font-size: 12px;
    }
    .indicator-thumbnail li figure {
        background-position: -58px -10px;
        width: 83px;
        height: 46px;
        background-repeat: no-repeat;
        float: left;
        margin: 5px 10px 2px 0;
        overflow: hidden;
    }
    .indicator-thumbnail li a p {
        margin: 0;
        font-size: 13px;
        padding: 2px 2px 0 0;
        text-align: justify;
        height: 36px;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }
    .indicator-thumbnail li a span {
        font-size: 14px;
        color: #676767;
    }
    .pro-image img {
        width: 100%;
    }
    .a-image img {
        margin-bottom: 4px;
    }
    .col-no-padding {
        padding-right: 0px;
        padding-left: 0px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: -20px;
    }
    .owl-theme .owl-dots {
        text-align: right;
        bottom: 2%;
        right: 0;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        z-index: 3;
        pointer-events: none;
    }
    .owl-carousel .owl-dots .owl-dot span {
        width: 14px;
        height: 14px;
        margin: 0.4em;
    }
    .owl-carousel .owl-dots .owl-dot.active span {
        background-color: #c8102e;
    }
    /*endslider*/
    /*product*/
    .product {
        margin: 0 -5px 10px;
        cursor: pointer;
        border-radius: 0px;
    }
    .card-content {
        display: block;
        position: relative;
        border-radius: 5px;
        background-color: #fff;
        transition: box-shadow .3s;
    }
    .product .order-now .btn-order {
        transform: translate(-50%, -50%) scale(0);
        transition: all .2s;
        z-index: 2;
    }
    .product-body {
        font-size: 14px;
        color: #333;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0 15px;
        /* border: 1px solid #ebebeb; */
        border-top: 0;
        border-radius: 0 0 5px 5px;
    }
    .product-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 700;
        padding: 6px 0;
    }
    .product-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .product-address .fa-map-marker {
        margin-right: 5px;
    }
    .product-info {
        position: relative;
        border-top: 1px solid #ebebeb;
    }
    .product-info .label .sale {
        color: #c8102e;
        font-size: 16px;
    }
    .product-info .label span {
        color: #000;
        font-family: inherit;
        font-weight: bold;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .card-img {
        height: 358px;
        border-radius: 0px;
        position: relative;
    }
    .pcd-pricing {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgb(0, 0, 0, 0.8);
        color: #fff;
        padding: 8px 15px;
    }
    .card-content:hover {
        text-decoration: none;
        box-shadow: 0 0 rgba(0, 0, 0, .2), 0 0 10px 0 rgba(0, 0, 0, .19)
    }
    .card-img .btn-order {
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        background-color: #dd4b39;
        width: 120px;
        position: absolute;
        top: 30%;
        left: 50%;
        border-color: #ed1c24;
        padding: 5px 0 6px;
        color: #fff;
    }
     :after,
     :before {
        box-sizing: border-box;
    }
    .product .order-now:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
        opacity: 0;
        transition: all .1s;
    }
    .product .order-now:hover .btn-order {
        transform: translate(-50%, -50%) scale(1);
        transition: all .2s;
        z-index: 2;
    }
    .bg-img {
        width: 100%;
        padding-top: 185px;
        margin-top: 8px;
        margin-bottom: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        text-align: center;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
        height: auto;
        vertical-align: middle;
        border-style: none;
        webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
    }
    .promo-row {
        padding: 0px;
    }
    /*ribbonproduct*/
    .all-ribbon {
        position: absolute;
        top: 0;
        left: 10px;
        filter: drop-shadow(2px 0px 1px rgba(0, 0, 0, 0.5));
    }
    .ribbon-product {
        background: rgba(255, 255, 255, 1);
        min-height: 50px;
    }
    .ribbon-product img {
        margin-top: 10px;
        max-width: 100px;
    }
    .ribbon-end {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 100px 0 0;
        border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
    }
    /*endribbonproduct*/
    /*endproduct*/
    /*showroom*/
    .showroom-body {
        text-align: left;
    }
    .showroom-name {
        margin-bottom: 0px;
        ;
    }
    .showroom-name a {
        color: #c8102e;
        font-weight: bold;
    }
    .showroom-province {
        color: #00aced;
    }
    .showroom-address {
        color: #666;
    }
    /*endshowroom*/
    /*video*/
    .video-item {
        overflow: hidden;
    }
    .img-video {
        position: relative;
    }
    .img-video:before {
        content: "";
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        position: absolute;
        height: 64px;
        width: 64px;
        display: inline-block;
        top: 50%;
        left: 50%;
        margin-top: -32px;
        margin-left: -32px;
        background-image: url(https://www.toyota.com.vn/Content/images/icon-play-video-1.png);
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        opacity: 0.8;
    }
    .video-button {
        background-image: url(https://www.toyota.com.vn/Content/images/play-button.png)!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        position: fixed;
        float: left;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
    }
    .img-video:hover:before {
        background-image: url(https://www.toyota.com.vn/Content/images/icon-play-video.png);
    }
    /* modal */
    .modal-header {
        background: #103f4b;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .modal-content {
        border-radius: 0px;
    }
    .modal-body {
        position: relative;
        padding: 0px;
    }
    .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }
    .btn-bao-loi {
        border: 1px solid #103f4b;
        background: #103f4b;
        color: #fff;
        transition: all .3s;
        text-transform: uppercase;
        padding: 10px 20px;
        white-space: nowrap;
    }
    /* endmodal */
    /* endvideo */
}

div.title_home {
    margin: 0px 0px 20px 0px;
    border-bottom: 3px solid #03f;
    text-align: left;
}

.title_home_text {
    color: #333;
    font-weight: 500;
    font-size: 150%;
}

.title_home_text {
    display: inline-block;
    padding-right: 30px;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -0.8px;
}

.col-product {
    padding-right: 20px;
    padding-left: 20px;
}


/*news*/

.wrap-news {
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.news.first-news {
    margin-top: 0;
    border: none;
}

.news {
    margin-bottom: .625rem;
}

.news .news-title {
    font-family: 'Anton', sans-serif;
    font-size: 125%;
    font-weight: 400;
    display: block;
    margin-bottom: .25rem;
}

.news .news-title a:hover,
.news .news-title a:active {
    color: #b62831;
    text-decoration: none;
}

.news .news-desc {
    color: #555;
    margin-bottom: 0;
    font-weight: 400;
}

.first-news>a {
    display: block;
}

.lazy-loading-image.loaded {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.first-news .card-img-top {
    max-width: 100%;
    border-top-right-radius: 0;
}

.col-top-right {
    padding: .625rem !important;
    border-left: 1px solid #ddd;
}

.col-top-right .news-right:not(:last-child) {
    border-bottom: 1px dashed #ddd;
}

.col-top-right .news-right:first-child {
    margin-top: 0;
}

.news-right:not(:last-child) {
    margin-bottom: 10px;
}

.col-top-right .news-right {
    padding-bottom: .75rem;
}

.media {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.news-right .news-right-img {
    width: 100px;
    margin-right: 0.625rem;
}

.news-right .news-right-img img {
    max-width: 100%;
}

.lazy-loading-image.loaded {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.lazy-loading-image {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: -webkit-filter .2s;
    transition: -webkit-filter .2s;
    -o-transition: filter .2s;
    transition: filter .2s;
    transition: filter .2s, -webkit-filter .2s;
}

.first-news .card-block {
    padding: .625rem;
}

.has-menu-dots {
    position: relative;
    padding-right: 10px !important;
}

.col-top-right .news-right .news-right-title {
    font-weight: 600;
}

.news-right .news-right-title {
    display: block;
    margin-bottom: 0.25rem;
    max-height: 2.75rem;
    line-height: 1.5;
    overflow: hidden;
}

.news-right .news-right-title a:hover,
.news-right .news-right-title a:active {
    color: #b62831;
    text-decoration: none;
}

.news-right-title a {
    font-size: 1rem;
}

.news-right .news-posted {
    margin-bottom: 0px;
    line-height: 1;
}

.news-right .news-posted span {
    color: #888;
    font-size: 80%;
    margin-right: 0px;
}

span.origin a {
    color: #888;
}

.blog-col {
    padding-left: 10px;
    padding-right: 10px;
}

.h50 {
    height: 50px!important;
}

.wap-time {
    margin: 0px;
    padding: 0px;
}

p.wap-time.px-2 {
    margin: 12px 0px;
    padding: 0px 7px;
}


/*endnews*/

.home-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.section-header .title {
    color: #333;
    font-size: 150%;
    text-transform: uppercase;
    position: relative;
}

.grid-item:hover {
    text-decoration: none;
    box-shadow: 0 0 rgba(0, 0, 0, .2), 0 0 20px 0 rgba(0, 0, 0, 0.3)
}


/*menu*/

.t_clear {
    height: 40px;
    clear: both;
}

.fa-sort-desc:before,
.fa-sort-down:before {
    content: "\f0dd";
}

.clear {
    clear: both;
    font-size: 0;
}

#menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 9999;
    display: none;
}

.row-padding {
    border-top: 4px solid #d02128;
}


/*carbrandmenu*/

.car-brand-title {
    background-color: #fff;
    display: flex;
    padding: 10px 10px;
}

.brand-name {
    font-weight: bold;
    color: #215e9c;
    text-transform: uppercase;
}

.car-brand-item {
    width: 30%;
    margin-right: 30px;
    margin-left: 20px;
}

.brand-menu {
    width: 70%;
    text-align: left;
}

.brand-menu ul {
    list-style-type: none;
    margin: 0;
}

.brand-menu ul {
    list-style-type: none;
    margin: 0;
}

.brand-menu ul li a {
    text-decoration: none;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.brand-menu ul li a:before {
    content: "\2713\0020";
    font-weight: 12px;
    color: #555;
    top: 9px;
    left: 0px;
    font-size: 1rem;
    line-height: 0;
}


/*carbrandmenu*/


}
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* itemtruyen */
.col-truyen {
    text-align: left;
}
.lazy {
    width: 200px;
}
.image {
    position: relative;
}
.image .view {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.8);
    color: #fff;
    width: 200px;
    font-size: 0.8em;
}
.item-truyen ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.chapter a {
    font-size: 1em;
    color: #d35400;
}
.chapter a:hover {
    font-size: 1em;
    color: #03f;
    text-decoration: none;
}
.chapter .time {
    color: #4cae4c;
    font-size: 0.7em;
    line-height: 20px;
    font-style: italic;
    float: right;
    overflow: hidden;
    white-space: nowrap;
}
.sts {
    background: url(https://truyenmoi.xyz/themes/home/icons/item-bg.png) 1px 8px no-repeat;
    padding-left: 15px;
    color: #003555;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

/* enditemtruyen */

/* lichsudoctruyen */
.darkBox,
.darkDetail {
    border: 1px solid #ddd;
    color: #333;
    padding: 10px;
    clear: right;
    margin-bottom: 15px;
}
.darkBox h2 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2980b9;
}
.darkBox h2 .view-all {
    float: right;
    font-size: 13px;
    line-height: 22px;
    font-style: italic;
}
.darkBox ul {
    padding-left: 0;
    margin: 0;
}
.darkBox ul li {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #dedede;
}
.darkBox ul li .thumb {
    overflow: hidden;
    width: 80px;
    height: 70px;
    float: left;
}
.darkBox ul li .thumb img {
    width: 100%;
    left: 0;
}
.darkBox ul li h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.darkBox ul li p {
    margin: 0;
}
.chapter a:focus,
.chapter a:visited,
a.visited {
    text-decoration: none;
    color: #d35400;
}
.fa-angle-double-right:before {
    content: "\f101";
}
.darkBox ul li .chapter .view {
    display: block;
    font-style: italic;
    font-size: 1rem;
    color: #666;
}
.fa-angle-double-right:before {
    content: "\f101";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
}
.visited-remove {
    color: #c8102e;
}
.visited-remove:visited {
    color: #c8102e !important;
}
.t-title a {
    color: #c8102e;
    font-weight: bold;
    text-decoration: none;
}
a.jtip {
    color: #03f;
    text-decoration: none;
    font-weight: bold;
}

/* endlichsudoctruyen */

/* truyendecu */
.pcd-pricing {
    font-size: 0.8em;
    color: #fff;
}
.pcd-pricing a {
    color: #fff;
}

/* endtruyendecu */

/* theloaitruyen */
.list.list-truyen {
    margin: 10px 0;
}
.list.list-truyen a {
    text-decoration: none;
}
.title-list {
    text-align: left;
    height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.list>.row {
    background-color: #fff;
}
.list.list-cat>.row>div:nth-child(odd) {
    padding-left: 20px!important;
}
.list.list-cat>.row>div {
    height: 30px!important;
    line-height: 35px!important;
    border: 0!important;
    padding-left: 20px!important;
}
.col-truyen-side .list>.row>div {
    max-width: 140px;
    padding: 0;
}

/* endtheloaitruyen */

/* thongtintruyen */
.col-detail {
    padding-left: 0px;
    padding-right: 0px;
}
.t-author .fa-user,
.t-author .fa-bell {
    color: #000000;
}
.col-image {
    padding-left: 0px;
    padding-right: 10px;
}
.col-image img {
    width: 100%;
}
.col-info {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    font-size: 20px;
}
.fa-file-alt {
    font-size: 20px;
}
.fa-list {
    font-size: 20px;
}
.short-des {
    text-align: left;
}
.title-des {
    margin: 0px 0px 10px 0px !important;
}
.all-chapter {
    text-align: left;
}
.heading {
    padding: 5px 0 10px;
    font-size: 20px;
}
.all-chapter ul li {
    border-bottom: 1px dashed #ddd;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 6px 0;
    margin: 0;
}
.info-list a {
    color: #03f;
}
.info-list a:hover {
    text-decoration: none;
    color: #c8102e;
}
h3.title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 5px;
    padding: 0 15px 7px;
    border-bottom: 1px dashed #b5b5b5;
    text-transform: uppercase;
    font-family: roboto condensed, Tahoma, sans-serif;
    text-align: center;
}
.breadcrumb {
    border-radius: 0px;
    background-color: #fff;
}
.breadcrumb li a {
    color: #c8102e;
    font-weight: 700;
}
.breadcrumb li a:hover {
    text-decoration: none;
}
.breadcrumb>li+li:before {
    content: "\00BB";
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #c8102e;
}
#more {
    display: none;
}
.btn-doc-tu-dau {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    position: relative;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    background: #31a95b;
    border-bottom: 2px solid #26904b;
    cursor: pointer;
    border-radius: 3px;
}
.btn-doc-moi-nhat {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    position: relative;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    background: #e84c3d;
    border-bottom: 2px solid #c0392b;
    cursor: pointer;
    border-radius: 3px;
}

/* endthongtintruyen */

/* chapter */
.top .txt-primary {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 7px 10px;
    display: inline-block;
}
.reading-control .home {
    text-align: center;
    color: #ae4ad9;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    text-transform: uppercase;
}
.reading-control .changeserver {
    color: #fff;
    position: relative;
    background-color: #c8102e;
}
.reading-control .changeserver span {
    font-size: 12px;
    position: absolute;
    left: 17px;
    top: 8px;
    font-weight: 700;
}
.reading-control .select-chapter {
    color: #555;
    display: inline-block;
    padding: 4px 6px;
    border: 1px solid #ccc;
    width: 25%;
}
.reading-control .prev .fa,
.reading-control .next .fa {
    visibility: hidden;
}
.error {
    color: red;
}
.image-truyen {
    margin-top: 20px;
    border: 3px solid #6c757d;
}
.hidden {
    display: none;
}
.prev-link,
.next-link {
    background-color: #BE9F06;
    color: white;
    padding: 0.5em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
}
.prev-link:hover,
.next-link:hover {
    background-color: peru;
    text-decoration: none;
    color: white;
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

/* endchapter */

/* navcontrol */
.sticky {
    position: fixed;
    bottom: 0;
    width: 90%;
    background-color: white;
}
.home-button {
    display: block;
    padding: 7px 10px;
    margin-bottom: 10px;
    background: #ff530d;
}
.list-button {
    display: block;
    padding: 7px 10px;
    margin-bottom: 10px;
    background: #9C27B0;
}
#control-list-button {
    position: fixed;
    bottom: 60px;
    right: 10px;
}
#control-home-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* endnavcontrol */

/* search */
.search-holder input {
    border: 0px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    background-color: #fff;
    border: 0px;
}
.search-holder>.input-group-btn>.btn {
    padding: 5px 10px;
    border-left: 0;
    border-radius: 0;
}

/* endsearch */