<!-- sectionuudaigia -->
<section class="section-uu-dai-gia index-section">
    <div class="container">
        <div class="title_home new-deal">
            <a href="#">
                <span class="title_home_text">ƯU ĐÃI</span>
            </a>
        </div>
        <div class="owl-carousel owl-theme" id="product-uytin">
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content">
                        <div class="card-img card-img-top order-now"><img
                                src="https://3.bp.blogspot.com/-XK_f_L9JB78/W271xX0TclI/AAAAAAAAYoo/MeMEt7vXglYEbWjyMdqrhDyrYGtOH5rMQCHMYCw/vo-luyen-dinh-phong"
                                class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">Tinh Võ Thần Quyết</div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content">
                        <div class="card-img card-img-top order-now"><img
                                src="https://3.bp.blogspot.com/-ZW9GimPKL9k/Wo9lPj_7MNI/AAAAAAAANZ4/FIerP_Z44mU8VlxGq--tMFL6UXPO-Fb1gCHMYCw/cuc-pham-tu-chan-thieu-nien"
                                class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">Tinh Võ Thần Quyết
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content" title="Amun Garden Restaurant &amp; Lounge">
                        <div class="card-img card-img-top order-now"><img
                                src="https://3.bp.blogspot.com/-UMBEH1A5ibQ/W-jwjm9Kw_I/AAAAAAAAatE/L0GUBC569Y0Z2u19C6swajeLxwUiz0BrQCHMYCw/do-thi-kieu-hung-he-thong"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">Tinh Võ Thần Quyết
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content" title="Amun Garden Restaurant &amp; Lounge">
                        <div class="card-img card-img-top order-now"><img
                                src="https://3.bp.blogspot.com/-3MGdcghr1CM/Wo9now6fC6I/AAAAAAAANgM/JPp_5gkZ_GU80bMvAUZ6kzNkDW6c8tyMwCHMYCw/thieu-soai-vo-ngai-lai-bo-tron"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">Tinh Võ Thần Quyết
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content" title="Amun Garden Restaurant &amp; Lounge">
                        <div class="card-img card-img-top order-now"><img
                                src="http://st.nettruyen.com/data/comics/29/toi-thang-cap-mot-minh.jpg"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">Tinh Võ Thần Quyết
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content" title="Amun Garden Restaurant &amp; Lounge">
                        <div class="card-img card-img-top order-now"><img
                                src="https://3.bp.blogspot.com/-xFgW4fuPW-E/W1xvkZlMBeI/AAAAAAAAX1M/GhOu4Q7q0YgJqMwJoJHgwG4xY_5dnH2XACHMYCw/dai-gia-thua-tuong"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">Tinh Võ Thần Quyết
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- endsectionuudaigia -->
{{!-- sectionnoidungtrangchu --}}
<section class="index-section">
    <div class="container">
        <div>
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="title_home new-deal">
                        <a href="#">
                            <span class="title_home_text">ĐẠI LÝ NỔI BẬT</span>
                        </a>
                    </div>
                    <div class="row">
                            <div class="item-truyen">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a title="Truyện tranh Bởi vì chúng ta đều là những ngôi sao"
                                            href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">
                                            <img src="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                class="lazy"
                                                data-original="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                alt="Truyện tranh Bởi vì chúng ta đều là những ngôi sao"
                                                style="display: inline;">
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye">
                                                </i> 497.773 <i class="fa fa-comment"></i> 715 <i
                                                    class="fa fa-heart"></i>
                                                2.498</span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a class="jtip" data-jtip="#truyen-tranh-23961"
                                                href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">Bởi
                                                vì chúng ta đều là những ngôi sao</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-96/510360"
                                                    title="Chapter 96: Lời thề đóng mộc đỏ">Chapter 96</a><i
                                                    class="time">21
                                                    phút trước</i></li>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-95/510035"
                                                    title="Chapter 95: Giọt máu cô đặc 18 năm">Chapter 95</a><i
                                                    class="time">1 ngày trước</i></li>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-94/509793"
                                                    title="Chapter 94: Quyết chiến trường học loài thú">Chapter 94</a><i
                                                    class="time">2 ngày trước</i></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="box_tootip" style="display:none;" id="truyen-tranh-23961">
                                    <div class="box_li">
                                        <div class="title">Bởi vì chúng ta đều là những ngôi sao</div>
                                        <div class="clearfix">
                                            <div class="box_img">
                                                <a title="Bởi vì chúng ta đều là những ngôi sao"
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">
                                                    <img class="img_a"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                        data-original="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                        alt="Bởi vì chúng ta đều là những ngôi sao">
                                                </a>
                                            </div>
                                            <div class="message_main">
                                                <p>
                                                    <label>Thể loại:</label>Comedy, Drama, Fantasy, Horror, Mystery,
                                                    Psychological, Romance, Slice of Life, Tragedy</p>
                                                <p>
                                                    <label>Tác giả:</label>Itagaki Paru</p>
                                                <p>
                                                    <label>Tình trạng:</label>Đang tiến hành</p>
                                                <p>
                                                    <label>Lượt xem:</label>497.773</p>
                                                <p>
                                                    <label>Bình luận:</label>715</p>
                                                <p>
                                                    <label>Theo dõi:</label>2.498</p>
                                                <p>
                                                    <label>Ngày cập nhật:</label>21 phút trước</p>
                                            </div>
                                        </div>
                                        <div class="box_text">Truyện đoạt giải thưởng&nbsp;Manga Taisho 2018 (Giải manga
                                            mới
                                            hay nhất của năm)Beastars là&nbsp;một bộ Slice of Life mang bối cảnh xã hội
                                            mới:
                                            một xã hội&nbsp;mà tất cả loài vật ăn thịt và ăn cỏ đều sống chung với nhau
                                            -
                                            dưới phương tiện tăm tối hơn rất nhiều.Bộ truyện theo chân cậu sói xám
                                            Legosi,
                                            thành viên CLB Nhạc Kịch của trường Cherryton. Dù có ngoại hình đáng sợ
                                            nhưng
                                            bên trong cậu có một trái tim nhân hậu, buộc phải quen bị mọi người sợ hãi
                                            và xa
                                            lánh. Tuy nhiên, cuộc sống học đường của cậu bắt đầu rẽ nhánh khi cậu lâm
                                            vào
                                            những vấn đề xoay quanh bạn cùng trường của mình, và cả những vấn nạn xã hội
                                            bên
                                            ngoài, bắt nguồn từ một vụ giết người ăn thịt ở trường...</div>
                                    </div>
                                </div>
                            </div>
                             <div class="item-truyen">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a title="Truyện tranh Bởi vì chúng ta đều là những ngôi sao"
                                            href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">
                                            <img src="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                class="lazy"
                                                data-original="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                alt="Truyện tranh Bởi vì chúng ta đều là những ngôi sao"
                                                style="display: inline;">
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye">
                                                </i> 497.773 <i class="fa fa-comment"></i> 715 <i
                                                    class="fa fa-heart"></i>
                                                2.498</span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a class="jtip" data-jtip="#truyen-tranh-23961"
                                                href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">Bởi
                                                vì chúng ta đều là những ngôi sao</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-96/510360"
                                                    title="Chapter 96: Lời thề đóng mộc đỏ">Chapter 96</a><i
                                                    class="time">21
                                                    phút trước</i></li>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-95/510035"
                                                    title="Chapter 95: Giọt máu cô đặc 18 năm">Chapter 95</a><i
                                                    class="time">1 ngày trước</i></li>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-94/509793"
                                                    title="Chapter 94: Quyết chiến trường học loài thú">Chapter 94</a><i
                                                    class="time">2 ngày trước</i></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="box_tootip" style="display:none;" id="truyen-tranh-23961">
                                    <div class="box_li">
                                        <div class="title">Bởi vì chúng ta đều là những ngôi sao</div>
                                        <div class="clearfix">
                                            <div class="box_img">
                                                <a title="Bởi vì chúng ta đều là những ngôi sao"
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">
                                                    <img class="img_a"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                        data-original="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                        alt="Bởi vì chúng ta đều là những ngôi sao">
                                                </a>
                                            </div>
                                            <div class="message_main">
                                                <p>
                                                    <label>Thể loại:</label>Comedy, Drama, Fantasy, Horror, Mystery,
                                                    Psychological, Romance, Slice of Life, Tragedy</p>
                                                <p>
                                                    <label>Tác giả:</label>Itagaki Paru</p>
                                                <p>
                                                    <label>Tình trạng:</label>Đang tiến hành</p>
                                                <p>
                                                    <label>Lượt xem:</label>497.773</p>
                                                <p>
                                                    <label>Bình luận:</label>715</p>
                                                <p>
                                                    <label>Theo dõi:</label>2.498</p>
                                                <p>
                                                    <label>Ngày cập nhật:</label>21 phút trước</p>
                                            </div>
                                        </div>
                                        <div class="box_text">Truyện đoạt giải thưởng&nbsp;Manga Taisho 2018 (Giải manga
                                            mới
                                            hay nhất của năm)Beastars là&nbsp;một bộ Slice of Life mang bối cảnh xã hội
                                            mới:
                                            một xã hội&nbsp;mà tất cả loài vật ăn thịt và ăn cỏ đều sống chung với nhau
                                            -
                                            dưới phương tiện tăm tối hơn rất nhiều.Bộ truyện theo chân cậu sói xám
                                            Legosi,
                                            thành viên CLB Nhạc Kịch của trường Cherryton. Dù có ngoại hình đáng sợ
                                            nhưng
                                            bên trong cậu có một trái tim nhân hậu, buộc phải quen bị mọi người sợ hãi
                                            và xa
                                            lánh. Tuy nhiên, cuộc sống học đường của cậu bắt đầu rẽ nhánh khi cậu lâm
                                            vào
                                            những vấn đề xoay quanh bạn cùng trường của mình, và cả những vấn nạn xã hội
                                            bên
                                            ngoài, bắt nguồn từ một vụ giết người ăn thịt ở trường...</div>
                                    </div>
                                </div>
                            </div>
                             <div class="item-truyen">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a title="Truyện tranh Bởi vì chúng ta đều là những ngôi sao"
                                            href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">
                                            <img src="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                class="lazy"
                                                data-original="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                alt="Truyện tranh Bởi vì chúng ta đều là những ngôi sao"
                                                style="display: inline;">
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye">
                                                </i> 497.773 <i class="fa fa-comment"></i> 715 <i
                                                    class="fa fa-heart"></i>
                                                2.498</span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a class="jtip" data-jtip="#truyen-tranh-23961"
                                                href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">Bởi
                                                vì chúng ta đều là những ngôi sao</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-96/510360"
                                                    title="Chapter 96: Lời thề đóng mộc đỏ">Chapter 96</a><i
                                                    class="time">21
                                                    phút trước</i></li>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-95/510035"
                                                    title="Chapter 95: Giọt máu cô đặc 18 năm">Chapter 95</a><i
                                                    class="time">1 ngày trước</i></li>
                                            <li class="chapter clearfix"><a
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao/chap-94/509793"
                                                    title="Chapter 94: Quyết chiến trường học loài thú">Chapter 94</a><i
                                                    class="time">2 ngày trước</i></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="box_tootip" style="display:none;" id="truyen-tranh-23961">
                                    <div class="box_li">
                                        <div class="title">Bởi vì chúng ta đều là những ngôi sao</div>
                                        <div class="clearfix">
                                            <div class="box_img">
                                                <a title="Bởi vì chúng ta đều là những ngôi sao"
                                                    href="http://www.nettruyen.com/truyen-tranh/boi-vi-chung-ta-deu-la-nhung-ngoi-sao">
                                                    <img class="img_a"
                                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                        data-original="http://st.nettruyen.com/data/comics/153/boi-vi-chung-ta-deu-la-nhung-ngoi-sao.jpg"
                                                        alt="Bởi vì chúng ta đều là những ngôi sao">
                                                </a>
                                            </div>
                                            <div class="message_main">
                                                <p>
                                                    <label>Thể loại:</label>Comedy, Drama, Fantasy, Horror, Mystery,
                                                    Psychological, Romance, Slice of Life, Tragedy</p>
                                                <p>
                                                    <label>Tác giả:</label>Itagaki Paru</p>
                                                <p>
                                                    <label>Tình trạng:</label>Đang tiến hành</p>
                                                <p>
                                                    <label>Lượt xem:</label>497.773</p>
                                                <p>
                                                    <label>Bình luận:</label>715</p>
                                                <p>
                                                    <label>Theo dõi:</label>2.498</p>
                                                <p>
                                                    <label>Ngày cập nhật:</label>21 phút trước</p>
                                            </div>
                                        </div>
                                        <div class="box_text">Truyện đoạt giải thưởng&nbsp;Manga Taisho 2018 (Giải manga
                                            mới
                                            hay nhất của năm)Beastars là&nbsp;một bộ Slice of Life mang bối cảnh xã hội
                                            mới:
                                            một xã hội&nbsp;mà tất cả loài vật ăn thịt và ăn cỏ đều sống chung với nhau
                                            -
                                            dưới phương tiện tăm tối hơn rất nhiều.Bộ truyện theo chân cậu sói xám
                                            Legosi,
                                            thành viên CLB Nhạc Kịch của trường Cherryton. Dù có ngoại hình đáng sợ
                                            nhưng
                                            bên trong cậu có một trái tim nhân hậu, buộc phải quen bị mọi người sợ hãi
                                            và xa
                                            lánh. Tuy nhiên, cuộc sống học đường của cậu bắt đầu rẽ nhánh khi cậu lâm
                                            vào
                                            những vấn đề xoay quanh bạn cùng trường của mình, và cả những vấn nạn xã hội
                                            bên
                                            ngoài, bắt nguồn từ một vụ giết người ăn thịt ở trường...</div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
{{!-- endsectionnoidungtrangchu --}}