{{!-- sectionnoidungtrangdetail --}}
<section class="section-detail-truyen index-section">
    <div class="container">
        <div>
            <div class="row text-center padding">
                <div class="col-md-8 col-detail">
                    <div class="row">
                        <div class="col-md-4 col-image"><img src="{{noiDung.hinh_truyen}}" alt="" class="src"></div>
                        <div class="col-md-8 col-info">
                            <ul class="info-list ">
                                <li class="t-author row">
                                    <p class="name col-md-4"><i class="fas fa-user"></i>Tác giả</p>
                                    <p class="name col-md-8"><a
                                            href="http://www.nettruyen.com/tim-truyen?tac-gia=Ta+L%c3%a0+L%c3%a3o+Ng%c5%a9">Ta
                                            Là Lão Ngũ</a></p>
                                </li>
                                <li class="t-status row">
                                    <p class="name col-md-4"><i class="far fa-bell"></i>Tình trạng</p>
                                    <p class="name col-md-8">Đang tiến hành</p>
                                </li>
                                <li class="t-category row">
                                    <p class="name col-md-4"><i class="fas fa-tags"></i>Thể loại</p>
                                    <p class="name col-md-8"><a
                                            href="http://www.nettruyen.com/tim-truyen/manhua">Manhua</a>,<a
                                            href="http://www.nettruyen.com/tim-truyen/mystery">Mystery</a>,<a
                                            href="http://www.nettruyen.com/tim-truyen/truyen-mau">Truyện Màu</a>,
                                        <a href="http://www.nettruyen.com/tim-truyen/xuyen-khong">Xuyên Không</a></p>
                                </li>
                                <li class="t-views row">
                                    <p class="name col-md-4"><i class="fas fa-eye"></i>Thể loại</p>
                                    <p class="name col-md-8">12.345</p>
                                </li>
                            </ul>
                            <div class="follow">
                                <a class="follow-link btn btn-success" href="javascript:void(0)" data-id="17519"><i
                                        class="fa fa-heart"></i> <span>Theo dõi</span></a>
                                <span>
                                    <b>1.159</b> Người Đã Theo Dõi</span>
                            </div>
                            <div class="read-action mt-10">
                                <a class="btn btn-warning mb-5"
                                    href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-0/491774"> Đọc từ
                                    đầu</a>
                                <a class="btn btn-warning mb-5"
                                    href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-4/512370"> Đọc mới
                                    nhất</a>
                            </div>
                        </div>
                    </div>
                    <div class="truyen-description">
                        <div class="title_home">
                            <i class="fas fa-file-alt"></i>
                            <a href="#">
                                <span class="title_home_text">NỘI DUNG</span>
                            </a>
                        </div>
                        <div class="short-des">
                            Ta, chỉ có phàm căn, một kẻ phàm nhân!Ta, gọi Mạc Vô Kỵ!Ta, muốn bất hủ!
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    ok
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- endsectionnoidungtrangdetail --}}