{{!-- sectionnoidungtrangdetail --}}
<section class="section-detail-truyen index-section">
    <div class="container">
        <div>
            <div class="row text-center padding">
                <div class="col-md-8 col-detail">
                    <div class="row">
                        <div class="col-md-4 col-image"><img src="{{noiDung.hinh_truyen}}" alt="" class="src"></div>
                        <div class="col-md-8 col-info">
                            <div class="truyen-title">
                                <h3 class="title">BẤT HỦ PHÀM NHÂN</h3>
                            </div>
                            <ul class="info-list ">
                                <li class="t-author row">
                                    <p class="name col-md-4"><i class="fas fa-user"></i>Tác giả</p>
                                    <p class="name col-md-8"><a
                                            href="http://www.nettruyen.com/tim-truyen?tac-gia=Ta+L%c3%a0+L%c3%a3o+Ng%c5%a9">Ta
                                            Là Lão Ngũ</a></p>
                                </li>
                                <li class="t-status row">
                                    <p class="name col-md-4"><i class="far fa-bell"></i>Tình trạng</p>
                                    <p class="name col-md-8">Đang tiến hành</p>
                                </li>
                                <li class="t-category row">
                                    <p class="name col-md-4"><i class="fas fa-tags"></i>Thể loại</p>
                                    <p class="name col-md-8"><a
                                            href="http://www.nettruyen.com/tim-truyen/manhua">Manhua</a>,<a
                                            href="http://www.nettruyen.com/tim-truyen/mystery">Mystery</a>,<a
                                            href="http://www.nettruyen.com/tim-truyen/truyen-mau">Truyện Màu</a>,
                                        <a href="http://www.nettruyen.com/tim-truyen/xuyen-khong">Xuyên Không</a></p>
                                </li>
                                <li class="t-views row">
                                    <p class="name col-md-4"><i class="fas fa-eye"></i>Lượt xem</p>
                                    <p class="name col-md-8">12.345</p>
                                </li>
                            </ul>
                            <div class="follow pl-15">
                                <a class="follow-link btn btn-success" href="javascript:void(0)" data-id="17519"><i
                                        class="fa fa-heart"></i> <span>Theo dõi</span></a>
                                <span>
                                    <b>1.159</b> Người Đã Theo Dõi</span>
                            </div>
                            <div class="read-action mt-10 pl-15">
                                <a class="btn btn-warning mb-5"
                                    href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-0/491774"> Đọc từ
                                    đầu</a>
                                <a class="btn btn-warning mb-5"
                                    href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-4/512370"> Đọc mới
                                    nhất</a>
                            </div>
                        </div>
                    </div>
                    <div class="truyen-description">
                        <div class="title_home title-des">
                            <i class="fas fa-file-alt"></i>
                            <a href="#">
                                <span class="title_home_text">NỘI DUNG</span>
                            </a>
                        </div>
                        <div class="short-des">
                            Ta, chỉ có phàm căn, một kẻ phàm nhân!Ta, gọi Mạc Vô Kỵ!Ta, muốn bất hủ!
                        </div>
                    </div>
                    <div class="truyen-chapter">
                        <div class="title_home title-chapter">
                            <i class="fas fa-list"></i>
                            <a href="#">
                                <span class="title_home_text"> DANH SÁCH CHƯƠNG</span>
                            </a>
                        </div>
                        <div class="all-chapter">
                            <nav>
                                <ul>
                                    <li class="row heading">
                                        <div class="col-md-5 no-wrap">Số chương</div>
                                        <div class="col-md-4 no-wrap text-center">Cập nhật</div>
                                        <div class="col-md-3 no-wrap text-center">Lượt xem</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-4/512370"
                                                data-id="512370">Chapter 4</a>
                                        </div>
                                        <div class="col-md-4 text-center small">19 giờ trước</div>
                                        <div class="col-md-3 text-center small">1.184</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-3/494759"
                                                data-id="494759">Chapter 3</a>
                                        </div>
                                        <div class="col-md-4 text-center small">18:03 13/08</div>
                                        <div class="col-md-3 text-center small">2.294</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-2.2/358828"
                                                data-id="358828">Chapter 2.2</a>
                                        </div>
                                        <div class="col-md-4 text-center small">14/12/17</div>
                                        <div class="col-md-3 text-center small">8.141</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-2.1/357693"
                                                data-id="357693">Chapter 2.1</a>
                                        </div>
                                        <div class="col-md-4 text-center small">06/12/17</div>
                                        <div class="col-md-3 text-center small">8.829</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-2/494314"
                                                data-id="494314">Chapter 2</a>
                                        </div>
                                        <div class="col-md-4 text-center small">17:56 11/08</div>
                                        <div class="col-md-3 text-center small">2.575</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-1.3/357516"
                                                data-id="357516">Chapter 1.3</a>
                                        </div>
                                        <div class="col-md-4 text-center small">05/12/17</div>
                                        <div class="col-md-3 text-center small">9.985</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-1.2/356789"
                                                data-id="356789">Chapter 1.2</a>
                                        </div>
                                        <div class="col-md-4 text-center small">03/12/17</div>
                                        <div class="col-md-3 text-center small">13.217</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-1/356640"
                                                data-id="356640">Chapter 1</a>
                                        </div>
                                        <div class="col-md-4 text-center small">02/12/17</div>
                                        <div class="col-md-3 text-center small">18.513</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-0/491774"
                                                data-id="491774">Chapter 0</a>
                                        </div>
                                        <div class="col-md-4 text-center small">20:21 02/08</div>
                                        <div class="col-md-3 text-center small">3.612</div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {{> home-sidebar-history }}
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- endsectionnoidungtrangdetail --}}